.grid {
  width: 100%;

  & > div:first-child {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    grid-gap: 1rem;

    & > a {
      border: solid 2px theme('colors.red.300');
      width: 100%;
      overflow: hidden;
      height: 100%;
      border-radius: theme('borderRadius.3xl');

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        max-width: none;
      }

      &:nth-child(odd) {
        background-color: red;
      }

      &:nth-child(even) {
        background-color: blue;
      }

      /* &:nth-child(1) {
      grid-column: 1 / span 3;
      grid-row: 1 / span 2;
    }

    &:nth-child(2) {
      grid-column: 4 / span 3;
      grid-row: 1 / span 3;
    }

    &:nth-child(3) {
      grid-column: 7 / span 3;
      grid-row: 1 / span 2;
    }

    &:nth-child(4) {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }

    &:nth-child(5) {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }

    &:nth-child(6) {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }

    &:nth-child(7) {
      grid-column: 7 / span 3;
      grid-row: 3 / span 4;
    }

    &:nth-child(8) {
      grid-column: 3 / span 4;
      grid-row: 4 / span 4;
    }

    &:nth-child(9) {
      grid-column: 1 / span 2;
      grid-row: 4 / span 3;
    } */
    }
  }
}
